[Unit]
Description=zfs plugin
After=zfs-mount.service zfs-import-cache.service
Before=docker.service
Requires=zfs-mount.service zfs-import-cache.service

ConditionPathIsMountPoint="/{{ zfs_docker_volume_plugin_dataset }}"

[Service]
ExecStart=/usr/local/bin/docker-zfs-plugin --dataset-name "{{ zfs_docker_volume_plugin_dataset }}"

[Install]
WantedBy=docker.service
