#############################
# templates below this line #
#############################

[template_production]
	frequently = 16
	hourly = 24
	daily = 7
	weekly = 4
	monthly = 12
	yearly = 10
	autosnap = yes
	autoprune = yes
	snapshot_name_format = iso8601_basic
